.movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-card {
  width: 250px;
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
